<div class="eqLogic-widget eqLogic noResize nabaztag" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 5px; width : 30px;z-index: 1030;"></span>
	<i class='icon loisir-microphone52 pull-left cursor micro micro_#id#' style="margin-top: 3px;margin-left: 5px;" title="Gérer le son"></i>
	<center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></a></center>
	<div class="row" style="margin-right : 5px;">
		<div class="col-xs-3">
			<img class="cursor" src="plugins/nabaztag/core/template/images/awake.png" alt="Nabaztag" height="85" style="margin-left: -8px;">
		</div>
		<div class="col-xs-9">
			<center>
				Oreilles
				<div class="row">
					<div class="col-xs-6">
						<div class="leftears" style="width: 100%;" data-slider-tooltip="hide"></div>
					</div>
					<div class="col-xs-6">
						<div class="rightears" style="width: 100%;" data-slider-tooltip="hide"></div>
					</div>
				</div>
				<script>
					$(".nabaztag[data-eqLogic_uid=#uid#] .leftears").bootstrapSlider({
						min: 0,
						max: 16,
						value: 0,
					});
					$(".nabaztag[data-eqLogic_uid=#uid#] .slider.slider-horizontal").css('z-index',1);
					$(".nabaztag[data-eqLogic_uid=#uid#] .leftears").on('slideStop', function (ev) {
						jeedom.cmd.execute({id: '#leftear_id#', value: {slider: ev.value}});
					});
				</script>
				
				<script>
					$(".nabaztag[data-eqLogic_uid=#uid#] .rightears").bootstrapSlider({
						min: 0,
						max: 16,
						value: 0,
					});
					$(".nabaztag[data-eqLogic_uid=#uid#] .slider.slider-horizontal").css('z-index',1);
					$(".nabaztag[data-eqLogic_uid=#uid#] .rightears").on('slideStop', function (ev) {
						jeedom.cmd.execute({id: '#rightear_id#', value: {slider: ev.value}});
					});
				</script>
				<span class="cmd cmd-widget cursor tooltips sleep" data-cmd_id="#sleep_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="icon maison-person1" title="Dodo"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips wakeup" data-cmd_id="#wakeup_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="icon divers-circular114" title="Debout"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips airquality" data-cmd_id="#airquality_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="icon nature-plant30" title="Qualité de l'air"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips ephemeris" data-cmd_id="#ephemeris_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="fa fa-sun-o" title="Ephéméride"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips sayhour" data-cmd_id="#sayhour_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="fa fa-clock-o" title="Horloge parlante"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips weather" data-cmd_id="#weather_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="fa fa-cloud" title="Météo"></i></a></span>
				<span class="cmd cmd-widget cursor tooltips proverbe" data-cmd_id="#proverbe_id#"><a class="btn" style="background-color : #cmd-background-color# !important;"><i class="fa fa-comment" title="Dicton"></i></a></span>
			</center>
		</div>
	</div>

	<script>
		$('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});

		$('.eqLogic[data-eqLogic_uid=#uid#] .micro_#id#').on('click', function() {
			$('#md_modal2').dialog({title: "Jouer du son sur le Karotz"});
			$('#md_modal2').load('index.php?v=d&plugin=nabaztag&modal=micro.nabaztag&id=#id#').dialog('open');
		});
		if('#speak_id#' == ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .micro_#id#').hide();
		}
		if('#leftear_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .leftears').hide();
		}
		if('#rightear_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .rightears').hide();
		}
		if('#sleep_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .sleep').hide();
		}
		if('#wakeup_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .wakeup').hide();
		}
		if('#airquality_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .airquality').hide();
		}
		if('#ephemeris_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .ephemeris').hide();
		}
		if('#sayhour_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .sayhour').hide();
		}
		if('#weather_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .weather').hide();
		}
		if('#proverbe_id#' == ''){
			$('.nabaztag[data-eqLogic_uid=#uid#] .proverbe').hide();
		}
	</script>
</div>

