<div class="eqLogic-widget eqLogic noResize nabaztag" style="width: 240px;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 5px; width : 30px;z-index: 1030;"></span>
	<i id="micro_#id#" class='icon loisir-microphone52 pull-left cursor micro' style="margin-top: 3px;margin-left: 5px;" title="Gérer le son"></i>
	<center><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></center>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span><br/>
	<div class="row" style="margin-right : 5px;">
		<div class="col-xs-4">
			<img id="statenabaztag_#id#" class="cursor" src="plugins/nabaztag/core/template/images/awake.png" alt="Nabaztag" height="85" style="margin-left: 3px;">
		</div>
		<div class="col-xs-8">
			<center>
				Oreilles
				<div class="row">
					<div class="col-xs-6">
						<div class="leftears" style="width: 100%;" data-slider-tooltip="hide"></div>
					</div>
					<div class="col-xs-6">
						<div class="rightears" style="width: 100%;" data-slider-tooltip="hide"></div>
					</div>
				</div>
				<script>
					$(".nabaztag[data-eqLogic_id=#id#] .leftears").bootstrapSlider({
						min: 0,
						max: 16,
						value: 0,
					});
					$(".nabaztag[data-eqLogic_id=#id#] .slider.slider-horizontal").css('z-index',1);
					$(".nabaztag[data-eqLogic_id=#id#] .leftears").on('slideStop', function (ev) {
						jeedom.cmd.execute({id: '#leftear_id#', value: {slider: ev.value}});
					});
				</script>
				<script>
					$(".nabaztag[data-eqLogic_id=#id#] .rightears").bootstrapSlider({
						min: 0,
						max: 16,
						value: 0,
					});
					$(".nabaztag[data-eqLogic_id=#id#] .slider.slider-horizontal").css('z-index',1);
					$(".nabaztag[data-eqLogic_id=#id#] .rightears").on('slideStop', function (ev) {
						jeedom.cmd.execute({id: '#rightears_id#', value: {slider: ev.value}});
					});
				</script><br/>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#sleep_id#"><i class="icon maison-person1" title="Dodo"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#wakeup_id#"><i class="icon divers-circular114" title="Debout"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#airquality_id#"><i class="icon nature-plant30" title="Qualité de l'air"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#ephemeris_id#"><i class="fa fa-sun-o" title="Ephéméride"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#sayhour_id#"><i class="fa fa-clock-o" title="Horloge parlante"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#weather_id#"><i class="fa fa-cloud" title="Météo"></i></span>
				<span class="cmd cmd-widget cursor tooltips" data-cmd_id="#proverbe_id#"><i class="fa fa-comment" title="Dicton"></i></span>
			</center>
		</div>
	</div>

	<script>
		$('.eqLogic[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});

		$('#micro_#id#').on('click', function() {
			$('#md_modal2').dialog({title: "Jouer du son sur le Karotz"});
			$('#md_modal2').load('index.php?v=d&plugin=nabaztag&modal=micro.nabaztag&id='+ #id#).dialog('open');
		});
	</script>

</div>

