<div class="eqLogic-widget eqLogic nabaztag" style="background-color: #background_color#; padding : 0px;#style#" data-eqLogic_id="#id#" data-version="mobile" >
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
    <center>#name#</center>

    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
    
    <center>
        <img id="statenabaztag_#id#" class="cursor" src="plugins/nabaztag/core/template/images/awake.png" alt="Nabaztag" height="85">
    </center>
    <center>
        <div class="leftear" style="width: 80px;"></div>
        <div class="leftear full-width-slider" style="width: 96%;text-align: right;min-width : 100px;">
            <input type="range" min="0" max="16" data-theme="a"/>
        </div>
        <div class="rightear" style="width: 80px;" value="700"></div>
        <div class="rightear full-width-slider" style="width: 96%;text-align: right;min-width : 100px;">
            <input type="range" min="0" max="16" data-theme="a" />
        </div>
        <div style="margin : 5px;">
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#sleep_id#" style="font-size : 2.5em;"><i class="icon maison-person1" title="Dodo"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#wakeup_id#" style="font-size : 2.5em;"><i class="icon divers-circular114" title="Debout"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#airquality_id#" style="font-size : 2.5em;"><i class="icon nature-plant30" title="Qualité de l'air"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#ephemeris_id#" style="font-size : 2.5em;"><i class="fa fa-sun-o" title="Ephéméride"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#sayhour_id#" style="font-size : 2.5em;"><i class="fa fa-clock-o" title="Horloge parlante"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#weather_id#" style="font-size : 2.5em;"><i class="fa fa-cloud" title="Météo"></i></span>
        <span class="cmd cmd-widget cursor tooltips" data-cmd_id="#proverbe_id#" style="font-size : 2.5em;"><i class="fa fa-comment" title="Dicton"></i></span>
        </div>

        <script>
           $("body").undelegate(".nabaztag[data-eqLogic_id=#id#] .leftear",'slidestop');
           $("body").delegate(".nabaztag[data-eqLogic_id=#id#] .leftear",'slidestop', function (event, ui) {
               jeedom.cmd.execute({id: '#leftear_id#', value: {slider: $(".nabaztag[data-eqLogic_id=#id#] .leftear input").value()}});
           });
           $("body").undelegate(".nabaztag[data-eqLogic_id=#id#] .rightear",'slidestop');
           $("body").delegate(".nabaztag[data-eqLogic_id=#id#] .rightear",'slidestop', function (event, ui) {
               jeedom.cmd.execute({id: '#rightear_id#', value: {slider: $(".nabaztag[data-eqLogic_id=#id#] .rightear input").value()}});
           });
       </script>
   </center>

   <script>
    $('.eqLogic[data-eqLogic_id=#id#] .cmd').on('click', function() {
       jeedom.cmd.execute({id: $(this).data('cmd_id')});
   });
</script>

</div>

